[
    Triple((
        subject: Blank(("foo")),
        predicate: Named(Iri("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")),
        object: Named(Namespaced("rdfs", "Class")),
    )),
    Triple((
        subject: Blank(("anon-2")),
        predicate: Named(Namespaced("", "is")),
        object: Named(Namespaced("", "anon")),
    )),
    Triple((
        subject: Blank(("anon-2")),
        predicate: Named(Namespaced("", "is")),
        object: Named(Namespaced("", "v2")),
    )),
    Triple((
        subject: Blank(("anon-2")),
        predicate: Named(Namespaced("", "also")),
        object: Named(Namespaced("", "fancy")),
    )),
    Triple((
        subject: Blank(("anon-1")),
        predicate: Named(Iri("http://www.w3.org/1999/02/22-rdf-syntax-ns#type")),
        object: Blank(("anon-2")),
    )),
]